/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.ui-body-c,
.ui-overlay-c {
	border: 1px solid #820f13 /*{a-body-border}*/;
	color: #ffffff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #444444 /*{a-body-shadow-color}*/;
	background: url(../img/ladybug.png) /*{a-body-background-color}*/;
	background-image: url(../img/ladybug.png);
	background-image: url(../img/ladybug.png);
	background-image: url(../img/ladybug.png);
	background-image: url(../img/ladybug.png);
	background-image: url(../img/ladybug.png);
	background-image: url(../img/ladybug.png);
}

ul.ui-listview
{
margin-top: 200px;
}

li.ui-btn
{
background: red;
}
