
	*{
	    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	 }
	
	.ui-body-c,
	.ui-overlay-c 
	{
		border: 1px solid #820f13;
		color: #ffffff /*{a-body-color}*/;
		text-shadow: 0 1px 0 #444444;
		background: url(../img/ladybug.png);
		background-image: url(../img/ladybug.png);
		
	}
	
	ul.ui-listview
	{
		margin-top: 200px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	li.ui-btn
	{
		font-weight: bold;
		font: red;
		border: 1px solid black;
		background: #4d4d4d;
		opacity: 0.8;
	}
	
	li.ui-li.ui-li-divider
	{
		text-shadow: 1px 1px 1px #000000;
		border: #811217;
		background: -webkit-linear-gradient(#811217, #c1272d);
	}
	
	header.ui-header
	{
		text-shadow: 1px 1px 1px #000000;
		border: #811217;
		background: -webkit-linear-gradient(#811217, #c1272d);
	}
	
	#lvText
	{
		color: #ffffff;
		text-shadow: 1px 1px 1px #000000;
	}

